/*============================

Universal Styling

*=========================*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "futura-pt", sans-serif;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
