/*============================

Universal Styling

*=========================*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "futura-pt", sans-serif;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-image: url("images/background.1.jpg");
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}

.Site-content {
  flex: 1;
}
/*===
font-family: 'Playfair Display', serif; ==*/

.desktop-nav{
	display: none;
}


/************************** Hamburger menu *********************/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:50px;
  padding: 1px 10px 0px 15px;
  color:#cbbe9b;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:1px 15px 0px 15px;
  color: #cbbe9b;
  border:0;
  font-size:3.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#000000;  position:absolute; text-align:center; font-size:1em; }
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#cbbe9b 1px solid;}
.menu li:hover{display: block;  background:#ffffff padding:15px 0 15px 0; border-bottom:white 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#cbbe9b;}
.menu ul li a:hover {  color: #ffffff;  text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#cbbe9b;}

/***************** Hamburger menu END ********************************/
/*============================

Header Styling

*=========================*/
header{
	background-color: #000000;
	height: 7vh;
}
