/*============================

Universal Styling

*=========================*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "futura-pt", sans-serif;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*===
font-family: 'Playfair Display', serif;
font-family: "futura-pt", sans-serif;
color
yellow color: #cbbe9b;
==*/

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	background-image: url("images/background.1.jpg");
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}


.Site-content, .content-slider {
  flex: 1;
}
/*============================

Header Styling

*=========================*/

.desktop-nav{
	display: none;
}

header{
	background-color: #000000;
	min-height: 6vh;
	max-height: 9vh;
}

/************************** Hamburger menu *********************/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:50px;
  padding: 1px 10px 2px 15px;
  color:#cbbe9b;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:1px 15px 0px 15px;
  color: #cbbe9b;
  border:0;
  font-size:3.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#000000;  position:absolute; text-align:center; font-size:1em; }
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#cbbe9b 1px solid;}
.menu li:hover{display: block;  background:#ffffff padding:15px 0 15px 0; border-bottom:white 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#cbbe9b;}
.menu ul li a:hover {  color: #ffffff;  text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#cbbe9b;}

/***************** Hamburger menu END ********************************/


/*============================

Logo right corner Styling

*=========================*/
.bloc-logo {
  position: relative;
  width: 170px;
  height: 50px;
  float: left;
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
  display: block;
	top: 2%;
  width: 170px;
  height: 50px;
}

.bloc-logo .logo-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 170px;
  background-image: url("images/logo-mask-2.png");
  text-indent: -9999px;
}

/*============================

Tour Styling

*=========================*/

.tour-content{
	max-width: 1000px;
	margin: auto;
}

.tour-content a{
	text-decoration: none;
}

.tour-header{
	width: 60%;
	text-align: center;
	margin: 2% auto 0;
}

.tour-header H1{
	font-family: 'Playfair Display', serif;
	font-size: 1.7em;
	text-transform: uppercase;
}

.tour-header p{
	/*font-family: 'Playfair Display', serif;*/
	text-transform: uppercase;
	font-size: 1.1em;
}

.production{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2% 0;
	margin: 2%;
}

.tour{
	background-color: #000000c7;
	color: #cbbe9b;
	padding: 2%;
	margin: 3% auto;
	width: 70%;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tour h3,
.tour p{
	padding: 1%;
}

.tour h3{
	font-size: 1.7em;
	text-transform: uppercase;
}

.tour p{
	font-size: 1.3em;
}

.box{
	transition: .5s;
}

.box:hover{
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px #ccc;
 	box-shadow: 0 0 15px #ccc;
	transition: .3s;
}

/*============================

Footer Styling

*=========================*/

footer{
	background-color: #000000;
}

footer p{
	font-family: 'Playfair Display', serif;
	font-size: .8em;
	text-transform: uppercase;
	color: #cbbe9b;
	width: 75%;
	margin: 2% auto;
	text-align: center;
}


/*============================

Character Bios Styling

*==========================*/


.content-slider {
font-size: 1.4rem;
width: 400px;
margin: 0 auto;
padding-top: 100px;
}

.card-container {
width: 400px;
height: 1500px;
perspective: 1000px;
}

.card {
position: relative;
width: 100%;
height: 1000px;
text-align: center;
transition: transform 0.8s ease;
transform-style: preserve-3d;
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.card-container:hover .card {
transform:rotateY(180deg);
}

.card-back {
transform: rotateY(180deg);
}

.content-slider img {
margin: 0 auto;
text-align: center;
width: 200px;
}

.character-headline {
text-align: center;
}

.character-bio {
margin: 0 auto;
width: 60%;
max-width: 800px;
height: 1000px;
}



/********************** START 600px MEDIA QUERY **************************/
@media(min-width:600px) {

/*============================

Navigation  Styling

*=========================*/

	.desktop-nav{
		display: block;
		display: flex;
		justify-content: flex-end;
		background-color: #000000;
		margin: 2% 0;
	}

	.hamburger,
	.cross,
	.menu {
		display:none;
	}

	.desktop-nav ul li {
		display: inline;
	}

	.desktop-nav a {
		text-decoration: none;
		color: #cbbe9b;
		padding: 11px 15px;
		font-size: 1.2em;
		text-transform: uppercase;
		transition: .3s;
	}

	/*============================

	Tour Styling

	*=========================*/
	.production{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.production a{
		width: 48%;
		padding: 1% .5% 1% 1%;
	}

	.tour{
		width: 80%;
	}
	/*============================

	Character Bios Styling

	*==========================*/

   .content-slider {
		 width: 80%;
	 }

   .card-container {
		 width: 80%;
	 }
}

/*===============END MINWIDTH QUERY======*/


@media (min-width: 1300px) {
	.content-slider {
		font-size: 1.9rem;
	}

}
